numpy==1.23.5
protobuf==3.20.3
typing_extensions
torch
tensorflow==2.15.0
tensorflow-text==2.11.0
transformers==4.18.0
librosa==0.9.1
t5==0.9.3
pretty-midi==0.2.9
einops==0.4.1
llvmlite==0.34.0
numba==0.51.2
hydra-core==1.2.0
pytorch-lightning
ddsp
note_seq