numpy==1.23.5
tensorflow==2.15.0
tensorflow-text==2.15.0
tensorflow-hub>=0.16.1
ddsp<=3.6.0
seqio==0.0.19
t5==0.9.4
absl-py==1.4.0
torch
transformers==4.18.0
librosa==0.9.1
pretty-midi==0.2.9
einops==0.4.1
hydra-core==1.2.0
pytorch-lightning
note_seq
protobuf>=3.20.3,<=3.20.4
typing_extensions




